/*****************************************
*	Font sizes
*****************************************/
@media only screen and (max-width: 580px) {
  p, a, span {
    font-size: 18px; }
  header h1 {
    font-size: 27px; }
  .row h1 {
    font-size: 36px; } }

@media only screen and (min-width: 580px) {
  p, a, span {
    font-size: 23.4px; }
  header h1 {
    font-size: 35.1px; }
  .row h1 {
    font-size: 50.4px; } }

@-ms-viewport {
  width: device-width;
  zoom: 1; }

@-o-viewport {
  width: device-width;
  zoom: 1; }

@viewport {
  width: device-width;
  zoom: 1; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/*****************************************
*	Base
*****************************************/
html {
  font-size: 18px; }

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.5; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

p, a {
  line-height: 1.5;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

figure {
  margin: 0;
  padding: 0; }

/*****************************************
*	Header and Navbar
*****************************************/
nav {
  position: fixed;
  text-align: right;
  top: 15px;
  right: 15px; }

.modal {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 60px;
  transition: max-height 0.4s;
  width: 100%; }
  .modal li {
    box-sizing: border-box;
    display: block;
    padding: 10px 15px 10px 15px;
    width: 100%; }
    .modal li:hover {
      background-color: #2b333f;
      color: #FFFFFF; }

.handle {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  text-align: center; }

.showing {
  max-height: 20em; }

/*****************************************
*	Hero
*****************************************/
#home {
  background-color: #FFFFFF;
  color: #FFFFFF;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  color: #2b333f; }
  #home h1 {
    padding-bottom: 20px; }

/*****************************************
*	Sections
*****************************************/
.row:nth-child(even) {
  background-color: #d33939;
  color: #FFFFFF;
  margin: 0;
  min-height: 100vh;
  padding: 0; }
  .row:nth-child(even) h1 {
    padding-bottom: 20px; }

.row:nth-child(odd) {
  background-color: #2b333f;
  color: #FFFFFF;
  margin: 0;
  min-height: 100vh;
  padding: 0; }
  .row:nth-child(odd) h1 {
    padding-bottom: 20px; }
  .row:nth-child(odd) h1 {
    color: #d33939;
    text-align: right; }

.container {
  margin: 0 auto;
  max-width: 90%;
  padding-top: 20px;
  padding-bottom: 20px; }

figure {
  margin: 30px; }
  figure img {
    width: 100%; }
  figure figcaption {
    text-align: center; }
  @media (min-width: 580px) {
    figure {
      float: left;
      width: 462px; } }

.avatar {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 200px; }
