// Mixin for layout of rows
@mixin rowLayout($bkgc, $home: false) {
	
	background-color: $bkgc;
	color: $light-text;
	margin: 0;
	padding: 0;
	
	@if $bkgc == $normal-bkg {
		h1 {
			color: $accent-text;
			text-align: right;
		}
	}

	@if $home == true {
		color: $dark-text;
	}
}



