//   COLORS   //

$light-text: #FFFFFF;
$dark-text: #2b333f;
$accent-text: #d33939;

$light-bkg: #FFFFFF;
$normal-bkg: #2b333f;
$accent-bkg: #d33939;

//   TEXT SIZES   //
$normal-size: 2em;
$header-h1-size: 3em;
$row-h1-size: 4.5em;

//   BREAKPOINTS    //

// $small-screen: 720px;