//   COLORS   //

$light-text: #FFFFFF;
$dark-text: #2b333f;
$accent-text: #d33939;

$light-bkg: #FFFFFF;
$normal-bkg: #2b333f;
$accent-bkg: #d33939;


//   MINIMAL TEXT SIZES (in px)  //

$min-normal-size: 18;
$min-header-h1-size: $min-normal-size * 1.5;
$min-row-h1-size: $min-normal-size * 2;


//   BREAK POINTS   //
$high-breakpoint: 1025px;
$low-breakpoint: 580px;

//    WIDTHS OF ELEMENTS    //
$sections-width: 90; // in %

