@import "variables";
@import "mixins";
@import "font-size";
@import "global";

/*****************************************
*	Base
*****************************************/

html {
	font-size: 18px;
}

body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}



h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.5;
}

ul {
	margin: 0;
}

p, a {
	line-height: 1.5;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

figure {
	margin: 0;
}

/*****************************************
*	Header
*****************************************/

header {


}

/*****************************************
*	Hero
*****************************************/

#home {
	@include rowLayout($light-bkg, $home: true);
}


/*****************************************
*	Sections
*****************************************/

.row:nth-child(even) {
	@include rowLayout($accent-bkg);
}

.row:nth-child(odd) {
	@include rowLayout($normal-bkg);
}

.container {
	margin: 0 auto;
	max-width: 75%;
}




