@import "variables";
@import "mixins";
@import "font-size";
@import "global";

/*****************************************
*	Base
*****************************************/

html {
	font-size: 18px;
}

body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.5;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

p, a {
	line-height: 1.5;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

figure {
	margin: 0;
	padding: 0;
}


/*****************************************
*	Header and Navbar
*****************************************/

nav {
	position: fixed;
	text-align: right;
	top: 15px;
	right: 15px;
}

.modal {
	background-color: white;
	max-height: 0;
	overflow: hidden;
	position: fixed;
	text-align: center;
	top: 60px;
	transition: max-height 0.4s;
	width: 100%;

	li {
		box-sizing: border-box;
		display: block;
		padding: 10px 15px 10px 15px;
		width: 100%;

		&:hover {
			background-color: $dark-text;
			color: $light-text;
		}
	}
}


.handle {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px 10px 15px;
	text-align: center;
}

.showing {
	max-height: 20em;
}


/*****************************************
*	Hero
*****************************************/

#home {
	@include rowLayout($light-bkg, $home: true);
}


/*****************************************
*	Sections
*****************************************/


// Color for all sections
.row:nth-child(even) {
	@include rowLayout($accent-bkg);
}

.row:nth-child(odd) {
	@include rowLayout($normal-bkg);
}

// Global parameters of all sections
.container {
	margin: 0 auto;
	max-width: $sections-width * 1%;
	padding-top: 20px;
	padding-bottom: 20px;
}

// Portfolio section

figure {
	
	margin: 30px;

	img {
		width: 100%;
	}
	figcaption {
		text-align: center;
	}

	@media (min-width: $low-breakpoint) {

		float: left;

		// figures' width = 90% of the $low-breakpoint's width - twice the margin
		width: ($low-breakpoint * $sections-width / 100 - 2*30);

	}
}




// About section

#about p {
	padding: 20px 0 0 0;
	@media (min-width: $high-breakpoint) {
		padding: 0 0 20px 0;
	}
}

.avatar {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	width: 200px;

	@media (min-width: $high-breakpoint) {
		float: left;
		margin: 0 30px 30px 0;
	}
}


