@import "variables";
@import "mixins";
@import "font-size";
@import "global";

/*****************************************
*	Base
*****************************************/

html {
	font-size: 18px;
}

body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.5;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

p, a {
	line-height: 1.5;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}


/*****************************************
*	Header and Navbar
*****************************************/

nav {
	position: fixed;
	text-align: right;
	top: 15px;
	right: 15px;
}

.modal {
	background-color: red;
	max-height: 0;
	overflow: hidden;
	position: fixed;
	text-align: center;
	top: 60px;
	transition: max-height 0.4s;

	li {
		box-sizing: border-box;
		display: block;
		padding: 10px 15px 10px 15px;
		width: 100%;

		&:hover {
			background-color: $dark-text;
			color: $light-text;
		}
	}
}

.handle {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px 10px 15px;
	text-align: center;
}

.modal {
	width: 100%;
	// background-color: rgba(255, 255, 255, 0.5);
	// left: 50%;
	// position: absolute;
	// transform: translate(-150%, 0);
}

.showing {
	max-height: 20em;
}






/*****************************************
*	Hero
*****************************************/

#home {
	@include rowLayout($light-bkg, $home: true);
}


/*****************************************
*	Sections
*****************************************/

.row:nth-child(even) {
	@include rowLayout($accent-bkg);
}

.row:nth-child(odd) {
	@include rowLayout($normal-bkg);
}

.container {
	margin: 0 auto;
	max-width: 85%;
	padding-top: 20px;
	padding-bottom: 20px;
}

// Portfolio section

figure {

	img {
		width: 100%;
	}

	figcaption {
		text-align: center;
	}
}


// About section
.avatar {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	width: 200px;
}


